<div class="d-flex justify-content-between mb-4">

    <h2>
        Blog Posts
    </h2>

    <button class="btn btn-primary">
        Add New Post
    </button>

</div>

<div class="row">

    <div class="col-md-4 mb-4">

        <div class="card shadow border-0">

            <img src="https://picsum.photos/400/250"
                 class="card-img-top">

            <div class="card-body">

                <h5>
                    Best Laptops For Developers
                </h5>

                <p>
                    Discover the best coding laptops.
                </p>

                <button class="btn btn-outline-primary">
                    Read More
                </button>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow border-0">

            <img src="https://picsum.photos/401/250"
                 class="card-img-top">

            <div class="card-body">

                <h5>
                    Gaming Laptop Guide
                </h5>

                <p>
                    Top gaming machines of 2026.
                </p>

                <button class="btn btn-outline-primary">
                    Read More
                </button>

            </div>

        </div>

    </div>

</div>