<div class="card border-0 shadow-lg">

    <div class="card-body">

        <div class="d-flex justify-content-between mb-4">

            <h2>
                Laptop Brands
            </h2>

            <button class="btn btn-success">
                Add Brand
            </button>

        </div>

        <div class="row">

            <div class="col-md-3 mb-4">

                <div class="card text-center">

                    <div class="card-body">

                        <h3>💻</h3>

                        <h5>Apple</h5>

                    </div>

                </div>

            </div>

            <div class="col-md-3 mb-4">

                <div class="card text-center">

                    <div class="card-body">

                        <h3>💻</h3>

                        <h5>Asus</h5>

                    </div>

                </div>

            </div>

            <div class="col-md-3 mb-4">

                <div class="card text-center">

                    <div class="card-body">

                        <h3>💻</h3>

                        <h5>Lenovo</h5>

                    </div>

                </div>

            </div>

            <div class="col-md-3 mb-4">

                <div class="card text-center">

                    <div class="card-body">

                        <h3>💻</h3>

                        <h5>Dell</h5>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>